<div class="homepage">
    <div class="content-wrapper">
      <h1>Welcome to CodeBreak</h1>
      <p>
       This is basically test app build just for learning purpose, shout out to <span class="highlight">roadmap.sh</span>, which helped me
       find ideas for site creation. Basically, I combined multiple projects into one single app for the sake of making the 
       project voluminous.  
      </p>
      <p>
        Stay tuned as I expand its functionality and improve its design while sharpening my development skills. 
        Built with passion and curiosity for the web development journey!
      </p>
      <button class="cta-button" (click)="navigateToFeature()">Explore Features</button>
    </div>
  </div>
  